//COLORS

$Gold: #D5966C;
$Dark-Grey:#444444;
$White:#fff;
$Almost-Black: #151515;

//UI

$background-footer-dark:$Almost-Black;
$background-footer-accent:$Gold;
$background-body:$White;
$background-link-body:$Almost-Black;
$background-link-arrow:$Gold;

$color-body-dark:$Dark-Grey;
$color-body-light:$White;
$color-heading-dark:$Almost-Black;
$color-heading-light:$White;
$color-accent:$Gold;
