@import 'normalize','settings','variables';

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    background:$background-body;
}

h1, h2, h3 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 900;
    text-transform: uppercase;
    color: $color-heading-dark;
}

img {
    display: block;
}

.main, .footer {
    max-width: 144rem;
    margin: auto;
}

.hero {

    margin-bottom: 12rem;

    &__block {
        display: none;
    }

    &__content {
        padding: 3.2rem 1.6rem 0;
    }

    &__heading {
        padding-right: 6rem;
        font-size: 6rem;
        line-height: 5.5rem;
        margin-bottom: 3.2rem;
    }

    &__heading-break {
        display: block;
    }

    &__paragraph {
        font-size: 1.8rem;
        color: $color-body-dark;
        line-height: 2.8rem;
        margin-bottom: 2.8rem;
    }
}

.link {
    color: white;
    text-transform: uppercase;
    padding: 2.4rem 3.5rem 2.4rem 3.2rem;
    transition: background 500ms;
    background: $background-link-body;
    font-weight: 800;
    font-size: 2rem;
    font-family: 'Big Shoulders Display', cursive;
    line-height: 2.4rem;
    letter-spacing: 3.64px;
}

.arrow {
    transition: background 500ms;
    background: $background-link-arrow;
    width: 5.6rem;
    height: 7.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gallery {
    padding: 0 1.6rem;
    display: grid;
    gap: 1.1rem;
    margin-bottom: 12rem;

    &__grid-text1 {
        padding: 1.4rem 0 2.1rem;
        color: $color-body-dark;
    }

    &__heading {
        font-size: 5rem;
        line-height: 4.5rem;
        margin-bottom: 2.1rem;
    }

    &__heading-break {
        display: block;
    }

    &__paragraph {
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    &__grid-text2 {
        padding: 4.8rem 2.4rem 4.7rem;
        background: $Almost-Black;
        color: white;
    }

    &__grid-text2 h2 {
        color: white;
    }
}

.footer {
    padding: 4.8rem 3.2rem;
    background: $background-footer-dark;
    color: white;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 3.8rem;
        max-width: 110rem;
        margin: auto;
    }

    &__heading {
        color: white;
        font-size: 2.3rem;
        line-height: 2.3rem;
    }

    &__heading-break {
        display: block;
    }

    &__paragraph {
        font-size: 1.6rem;
        line-height: 2.6rem;
    }

    &__social-block {
        display: flex;
        gap: 2rem;
    }

    &--accent {
        background: $background-footer-accent;
        color: $Almost-Black;

        .fab {
            color: $Almost-Black;
        }
    }

    &__heading-dark {
        color: $Almost-Black;
    }
}

.fab {
    font-size: 2rem;
    color: white;
}

.fab:hover {
    color: $color-accent;
}

.map {
    position: relative;
}

.link-position {
    position: absolute;
    top: 0;
}

.location {
    background: $Almost-Black;
    color: White;
    padding: 4.8rem 1.6rem 5.6rem;

    &__heading {
        color: White;
        font-size: 5rem;
        line-height: 4.5rem;
        margin-bottom: 4.8rem;
    }

    &__subheading {
        color: $Gold;
        font-size: 3.2rem;
        line-height: 3.2rem;
        margin-bottom: 2rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin-bottom: 2rem;
    }

    &__paragraph {
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    &__container {
        max-width: 110rem;
        margin: auto;
    }
}

@media screen and (min-width:750px) {
    .hero {
        display: flex;
        position: relative;

        &__image {
            width: 56.5vw;
        }

        &__content {
            padding: 14.5rem 4rem 0 0;
            width: 50%;
            position: absolute;
            right: 0;
        }

        &__heading {
            font-size: 7rem;
            line-height: 6.5rem;
            margin-bottom: 4.8rem;
            padding: 0;
        }

        &__paragraph {
            margin-bottom: 4.8rem;
        }
    }

    .gallery {
        max-width: 119rem;
        margin: 0 auto 18rem;
        padding: 0 4rem;
        gap: 1.1rem;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
                        'g2 g2 g2 g2 g2 g1 g1 g1 g1 g1 g1 g1'
                        'g3 g3 g3 g3 g3 g3 g3 g4 g4 g4 g4 g4'
                        'g3 g3 g3 g3 g3 g3 g3 g4 g4 g4 g4 g4'
                        'g3 g3 g3 g3 g3 g3 g3 g5 g5 g5 g5 g5'
                        'g3 g3 g3 g3 g3 g3 g3 g5 g5 g5 g5 g5'
                        'g3 g3 g3 g3 g3 g3 g3 g5 g5 g5 g5 g5'
                        'g3 g3 g3 g3 g3 g3 g3 g5 g5 g5 g5 g5'
                        'g3 g3 g3 g3 g3 g3 g3 g5 g5 g5 g5 g5';

        &__grid1 {
            grid-area: g1;
        }

        &__grid2 {
            grid-area: g2;
        }

        &__grid3 {
            grid-area: g3;
        }

        &__grid4 {
            grid-area: g4;
        }

        &__grid5 {
            grid-area: g5; 
        }

        &__grid-text1 {
            padding: 3.6rem 4.5rem 0 0;
        }

        &__grid-text2 {
            padding: 8.3rem 2.9rem;
        }

        &__heading {
            margin-bottom: 2.4rem;
        }
    }

    .location {
        padding: 8.8rem 4rem 8rem;

        &__container {
            display: flex;
            justify-content: space-between;
        }

        &__heading {
            font-size: 5.5rem;
            line-height: 5rem;
            margin-bottom: 0;
            max-width: 22.3rem;
        }

        &__wrapper {
            max-width: 39.8rem;
        }
    }

    .link-position {
        left: 4rem;
    }

    .footer {
        padding: 5.6rem 4rem;


        &__wrapper {
            flex-direction: row;
            justify-content: space-between;
        }

        &__heading {
            min-width: 11rem;
            font-size: 2.3rem;
            line-height: 2.3rem;
        }

        &__paragraph {
            width: 40%;
        }
    }
}

@media screen and (min-width:900px) {
    .hero {

        &__block {
            display: block;
            width: 31.25%;
            background: $Almost-Black;
        }

        &__block-heading {
            color: $White;
            mix-blend-mode: difference;
            font-size: 6.6vw;
            line-height: 6.6vw;
            padding-top: 13.125vw;
            padding-left: 11.46vw;
            width: 70rem;
        }

        &__heading {
            display: none;
        }

        &__image-container {
            width: 37.5%;
        }

        &__content {
            width: 31.25%;
            padding: 13.125vw 0 0;
            right: 5.7vw;
        }

        &__paragraph {
            max-width: 29rem;
        }
    }

    .gallery {

        gap: 3rem;

        &__heading {
            width: 70%;
        }

        &__heading-break {
            display: inline-block;
        }

        &__paragraph {
            width: 75%;
        }

        &__grid-text2 {
            padding: 3.5rem 3.5rem;

            h2 {
                width: 100%;
            }

            p {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .hero {

        margin-bottom: 18rem;

        &__block-heading {
            font-size: 9.6rem;
            line-height: 8.8rem;
            padding-top: 18.9rem;
            padding-left: 16.5rem;
        }

        &__content {
            padding: 0;
            margin-top: 18.9rem;
            right: 5.5rem;
        }

        &__paragraph {
            margin-bottom: 6.4rem;
            font-size: 2.2rem;
            line-height: 3.2rem;
            max-width: 35rem;
        }
    }

    .location {
        padding:10.4rem 0 12.5rem;

        &__wrapper {
            max-width: 54rem;
        }

        &__heading {
            font-size: 7rem;
            line-height: 7rem;
        }

        &__subheading {
            font-size: 3.6rem;
            line-height: 3.6rem;
            margin-bottom: 2.4rem;
        }

        &__paragraph, &__list {
            font-size: 2.2rem;
            line-height: 3.2rem; 
        }

        &__list {
            margin-bottom: 3.2rem;
        }
    }

    .gallery {

        &__heading {
            font-size: 6rem;
            line-height: 6rem;
            margin-bottom: 3.2rem;
        }

        &__paragraph {
            width: 74%;
            font-size: 2.2rem;
            line-height: 3.2rem; 
        }

        &__grid-text1 {
            padding: 6rem 0 0;
        }

        &__grid-text2 {
            padding: 6.5rem 4.8rem;
        }

        &__grid-text2 p {
            width: 97%;
        }
    }

    .footer {
        padding: 8rem 16.5rem;

        &__heading {
            font-size: 3.4rem;
            line-height: 3.4rem;
        }

        &__paragraph {
            width: 35%;
            position: relative;
            left: -80px;
            font-size: 1.8rem;
            line-height: 2.8rem;
        }

        .fab:hover {
            color: white;
        }
    }

    .link-position {
        left: 16.5rem;
    }
}

.link-proper:hover > .link-container .link {
    transition: background 500ms;
    background: $Gold;
}

.link-proper:hover > .link-container .arrow {
    transition: background 500ms;
    background: $Almost-Black;
}